/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 #content2{
			width: 500px;
			float: right;
			text-align: right;
			margin-top: -30px;
		}

		#content{
			height: 50px;
			margin-top: -10px;
			padding-top: 10px;
			padding-left: 5px;
			padding-right: 5px;
			background-color: #B0C4DE;
			border-radius: 3px;
		}

		#content2 a{
			color: #fff;
			padding: 5px 10px;
			border-radius: 3px;
			background-color: #006A9B;
			text-decoration: none;
			margin-right: 5px;
			margin-left: 5px;
			font-family: "Helveticalt77cnbd",sans-serif;

		}

		#content2 a:hover{
			opacity: 0.8;
		}

		#content3{
			text-align: left;
		}
		#content3 a{
			color: #fff;
			padding: 5px 10px;
			border-radius: 3px;
			background-color: #006A9B;
			text-decoration: none;
			margin-right: 5px;
			margin-left: 5px;
			font-family: "Helveticalt77cnbd",sans-serif;
			font-size: 12px;

		}
		#content4{
			text-align: :center;
			margin-left: 360px;
			margin-top: -40px;


		}

		#text-to-center{
			margin-right: 60px;
			text-align: center;
		}

		#hr-home{
			border-color:#B0C4DE;
		}
		#h2-home a{
			color: #fff;
			padding: 5px 10px;
			border-radius: 3px;
			background-color: #006A9B;
			text-decoration: none;
			margin-right: 5px;
			margin-left: 5px;
			font-size: 20px;
			font-family: "Helveticalt77cnbd",sans-serif;
		}
		#h1-menu{
			color: #006A9B;
			text-shadow:0px 0px 3px #666;
		}

		#centralize{
			margin-right: auto;
			margin-left: auto;
			width: 1050px;
		}
		#profile{
			text-align: center;
		}
		#profile-name b{

			color: #999999;
			font-family: "Helveticalt77cnbd",sans-serif;
			font-size: 20px;

		}
